#### Q 1. What are the differences between operators and values in the following?
  *<br>
 'hello'<br>
  -87.8<br>
  -<br>
  /<br>
  +<br>
  6<br>

Operators are special symbols in python. It's carry out arithmetic or logical computation.
So here *, -, /, + are the arithmetic operators.<br>

 The value may be characters, numbers, string etc. The value that the operator operates on is called the operand.
 In above question the values are 'hello', -87.8 and 6.

#### Q 2. What is the difference between string and variable?
spam<br>
'spam'<br>

Whaterver we written in single quotes('') and double quotes(" ") is the string. so here spam is the variable and 'spam' is the string.

In [3]:
spam='spam'

In [4]:
type(spam)

str

we can see that in the above code the 'spam' is the string which is assign to the variable spam. When we check the type of spam by using type() it return the type of variable is str means string type of data store in spam variable.

#### Q 3. Describe three different data forms.

1.int: Integer data type stores the numerical values.

In [6]:
abc=9

In [7]:
type(abc)

int

In the above example abc is the variable which contains the numerical value 9 and the type() gives us the type of abc variable which is int.

2.String: A string is a collection of one or more characters put in a single quote, double quote.

In [10]:
abc="data types"

In [11]:
type(abc)

str

3. list: Lists are used to store multiple items in a single variable. List items are  ordered, changeable and allow duplicate values.

In [13]:
abc=list(("a","b",123))

In [14]:
type(abc)

list

In [15]:
l1=["a",123,68+8j,4.5]

In [16]:
type(l1)

list

There is two ways to create list we can use list() or we can use square bracket [ ]. List items are indexed,The first item has index[0], second item has index[1] and so on.

#### 4. What makes up an expression? What are the functions of all expressions?

An expression is an instruction that combines values and operators and always evaluates down to a single value. An expression is a combination of values, variables, operators, and calls to functions.

In [17]:
4+4

8

The 4s are integer values and the + is the mathematical operator. This expression evaluate down into single integer value 8.

In [19]:
abc="hello"
abc

'hello'

This is simple expression abc just assign to "hello".

In [20]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

The above code will get all the number within 10 and put them in a list. This is list coprehension expression.

#### Q 5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

The declaration happens automatically when we assign a value to a variable. The equal sign (=) is used to assign values to variables.

In [22]:
spam=10
spam

10

here the we assign spam to so 10 this is called declaration as well as simple expression that does not computing anything just return the value which is assign to that variable.

In [23]:
spam=10+10

In [24]:
spam

20

In above example we did addition by using + and it gives us single value. so this is called expression.

#### Q 6. After running the following code, what does the variable bacon contain?
bacon = 22<br>
bacon + 1<br>

In [25]:
bacon=22

In [26]:
bacon+1

23

bacon contain 23.

#### Q 7. What should the values of the following two terms be?

'spam' + 'spamspam'<br>
'spam' * 3

In [27]:
'spam' + 'spamspam'

'spamspamspam'

In the above example we concatenated two strings

In [28]:
'spam' * 3

'spamspamspam'

here we simply multiply 'spam' by 3. so it gives 'spam' 3 times.

#### 8. Why is it that eggs is a true variable name but 100 is not?

There is certain rule to declare variable name:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

As per above naming convention the egg is a true variable name but 100 is not.

In [30]:
100=4

SyntaxError: can't assign to literal (<ipython-input-30-03f37a70ba8e>, line 1)

we can we that we cannot assign to literal 100 is literal number, not a variable.

In [32]:
egg=100
egg

100

egg is the perfect variable name.

#### Q 9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

1.int()
2.float()
3.str()
These functions are used to convert a value to an integer,a floating point number or a string.

In [40]:
num=100

In [41]:
type(num)

int

In [42]:
s=str(num)
type(s)

str

In [45]:
f=float(s)
type(f)

float

In [46]:
lit=int(f)
type(f)

float

#### Q 10. What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

In [33]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

we can only cancatenate strings not int. if we want to concatenate int with string then use type conversion as follow:

In [36]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'