###  Q 1. What exactly is [ ]?

A list is created by placing all the elements inside square bracketes [ ], sperated by commas.

In [2]:
list1=[]

In [3]:
list1=[1,2,3]

In [4]:
list1=["Hello",1,5.6]

To access an item in a list we can use the index operator <b>[ ]</b> as follows:

In [5]:
list1[0]

'Hello'

In [6]:
list1[1]

1

### Q 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [9]:
spam=[2,4,6,8,10]

spam

[2, 4, 6, 8, 10]

In [10]:
spam.insert(2,"hello")
spam

[2, 4, 'hello', 6, 8, 10]

### Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [14]:
spam=['a','b','c','d']

### Q 3. What is the value of spam[int(int('3' * 2) / 11)]?

In [15]:
spam[int(int('3' * 2) / 11)]

'd'

### Q 4. What is the value of spam[-1]?

In [16]:
spam[-1]

'd'

### Q 5. What is the value of spam[:2]?

In [17]:
spam[:2]

['a', 'b']

### Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [18]:
bacon=[3.14,'cat',11,'cat',True]

### Q 6. What is the value of bacon.index('cat')?

In [19]:
bacon.index('cat')

1

### Q 7. How does bacon.append(99) change the look of the list value in bacon?

In [20]:
bacon.append(99)

In [21]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

It simply add the 99 value at the end of list

### Q 8. How does bacon.remove('cat') change the look of the list meaning in bacon?

In [22]:
bacon.remove('cat')

In [23]:
bacon

[3.14, 11, 'cat', True, 99]

It just remove first occurance of 'cat'

### Q 9. What are the list concatenation and list replication operators?

The operator for list concatenation is + and the operator for replication is *.<br>

for example:

In [25]:
list1=[1,2,3]
list2=["hello",8.9,5+8j]

In [26]:
list1+list2 #list cocatination operation

[1, 2, 3, 'hello', 8.9, (5+8j)]

In [28]:
list1*2 #List replication operation

[1, 2, 3, 1, 2, 3]

### Q 10. What is difference between the list methods append() and insert()?

The append() used to add element only at the end of the list.<br>
for example:

In [35]:
list1=[1,2,3]
list1

[1, 2, 3]

In [36]:
list1.append(8)
list1

[1, 2, 3, 8]

The insert()is used to insert a specific element at a specific index of the list.<br>
for example:

In [37]:
list1

[1, 2, 3, 8]

In [38]:
list1.insert(2,"hello")

In [39]:
list1

[1, 2, 'hello', 3, 8]

### Q 11. What are the two methods for removing items from a list?

<b>1.remove()</b>:  It helps to remove the very first given element matching from the list.

In [47]:
l1=["hello","abc",12,34,9.99]
l1

['hello', 'abc', 12, 34, 9.99]

In [48]:
l1.remove("abc")
l1

['hello', 12, 34, 9.99]

<b>2.pop()</b>:This method removes an element from the list based on the index given.

In [49]:
l1

['hello', 12, 34, 9.99]

In [50]:
l1.pop(2)#It will removes the 2th index element

34

In [51]:
l1

['hello', 12, 9.99]

### Q 12. Describe how list values and string values are identical.

Lists are mutable, It's means their values can be changed in place.<br>

Strings are immutable, It's means the characters in them cannot be changed.

### Q 13. What's the difference between tuples and lists?

The main difference is that lists are mutable while tuples are immutable. A list has a variable size and a tuple has a fixed size.<br>

There is difference between in syntax, we can used ( ) for tuples creation and [ ] for list creation.

In [52]:
T1=("Hello","abc",123)#tuple 
T1

('Hello', 'abc', 123)

In [53]:
type(T1)

tuple

In [54]:
L1=["hello","xyz",12,78,3.4]#list
L1

['hello', 'xyz', 12, 78, 3.4]

In [55]:
type(L1)

list

### Q 14. How do you type a tuple value that only contains the integer 42?

if we want to create tuple with just one value then we have to specifies the comma (,) after the value otherwise it will create simply int variable.

In [59]:
Tuple_ex=(42,)
Tuple_ex

(42,)

In [60]:
type(Tuple_ex)

tuple

### Q 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

<b>Tuple to List:</b>

In [2]:
Tuple_values=("hello","abc",1,2,6.7)#initializing the tuple
Tuple_values

('hello', 'abc', 1, 2, 6.7)

In [3]:
type(Tuple_values)#cheching the type

tuple

In [5]:
Tuple_to_List=list(Tuple_values)#converting tuple iinto list
Tuple_to_List

['hello', 'abc', 1, 2, 6.7]

<b>List to tuple:</b>

In [7]:
list_values=[1,2,3]#initializing list
list_values

[1, 2, 3]

In [8]:
type(list_values)

list

In [12]:
list_to_tuple=tuple(list_values)#converting list to tuple
list_to_tuple

(1, 2, 3)

In [13]:
type(list_to_tuple)

tuple

Ther is other ways as well

In [18]:
atuple=(*list_values,)
atuple

(1, 2, 3)

In [19]:
type(atuple)

tuple

### Q 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

They contain string.

### Q 17. How do you distinguish between copy.copy() and copy.deepcopy()?

<b>copy()</b> method create reference to original object. If you change copied object then  you change the original object.

A shallow copy doesn't create a copy of nested objects, it just copies the reference of nested objects. This means, a copy process does not recurse or create copies of nested objects itself.

In [42]:
import copy
list1=[1,2,3,[1,2,3],8,9]
print("original list",list1)
new_list=copy.copy(list1)

list1.append([4, 4, 4])


print("Original list:", list1)
print("New list:", new_list)

original list [1, 2, 3, [1, 2, 3], 8, 9]
Original list: [1, 2, 3, [1, 2, 3], 8, 9, [4, 4, 4]]
New list: [1, 2, 3, [1, 2, 3], 8, 9]

In above example we create shallow copy of <b>list1</b>. The <b>new_list</b> contains the only refernce of nested objects which is stored in list1. Then we add new list into list1. This new sublist does not copied in list1.<br>


But if we change any nested object of list1 then changes will appear in new_list. as follows:

In [51]:
list1=[1,2,3,[1,2,3],8,9]
print("original list",list1)
new_list=copy.copy(list1)#copy method

list1[3][1] = 'abc'


print("Original list:", list1)
print("New list:", new_list)

original list [1, 2, 3, [1, 2, 3], 8, 9]
Original list: [1, 2, 3, [1, 'abc', 3], 8, 9]
New list: [1, 2, 3, [1, 'abc', 3], 8, 9]

A <b>deepcopy</b> creates a new object and recursively adds the copies of nested objects present in the original elements.

In [50]:
list2 = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
print("original list befor changing nested object:",list2)
new_list = copy.deepcopy(list2)#deepcopy method

list2[1][0] = 5

print("original list after changing nested object:", list2)
print("New list:", new_list)

original list befor changing nested object: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
original list after changing nested object: [[1, 1, 1], [5, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

we can see that modification in list1 does not affect to new_list.